.thumbnail{
    border-radius: 10px;
}
.pro_color{
    color: #adadad;
}
.font_size{

    font-size: 8px;
}
.font_cl{
    color: #fff;
}
.txt_dec{
    text-decoration: none;
}
.icons:hover{
    border-radius: 10px;
    background-color: #3d3d3d;
}